{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<style>
.prjdiv:hover{
box-shadow:0 0 20px 0 rgba(0,0,0,0.3);
transform:translateY(-20px);



}
</style>

<div class="container" style = "margin-top : 120px ">
<h2 class="text-center" style = "font-family : 'Monotype Corsiva' ; color : #E6120E ; font-weight : bold">Contact US</h2>
<br>
<br>
<br><br>
<div class=row>
<div class="col-sm-3 prjdiv" >
<h4 class="text-center"><i class="fas fa-phone-square"></i> Contact</h4>
<p class="text-center" style = "font-weight : bold">+91 9589988990</p>
</div>

<div class="col-sm-3 prjdiv" >
<h4 class="text-center"><i class="fas fa-envelope"></i> Email ID</h4>
<p class="text-center" style = "font-weight : bold">Dessert_king@gmail.com</p>
</div>

<div class="col-sm-3 prjdiv" >
<h4 class="text-center"><i class="fas fa-address-card"></i> Address</h4>
<p class="text-center" style = "font-weight : bold">Shop no.324 Old palasiya, Indore</p>
</div>

<div class="col-sm-3 prjdiv" >
<h4 class="text-center"><i class="far fa-clock"> </i>Delivers between</h4>
<p class="text-center" style = "font-weight : bold">10:00 am to 9:00 pm</p>
</div>
</div>
</div>
<div>

<h3 style="text-align:center; font-family : 'Monotype Corsiva' ; color : #E6120E ; font-weight : bold ; margin-top:100px">Google Map</h3>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14720.269179892111!2d75.88192350661771!3d22.72573998634543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fd37d3e78c61%3A0x107a14ac12c24d0a!2sOld%20Palasia%2C%20Indore%2C%20Madhya%20Pradesh!5e0!3m2!1sen!2sin!4v1654405231670!5m2!1sen!2sin"
  width='80%' height="500px" style="border:1px solid red; margin:20px 100px; " allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>
</body>

{% endblock %}
